<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="w-full custom-material-form mx-auto p-6">
  <div class="mb-10">
    <h3 class="text-neutral-200 text-xl font-bold grotesk border-l-4 border-[#76e594] pl-4">
      Küldjön üzenetet
    </h3>
  </div>

  <mat-form-field appearance="fill" class="w-full mb-4">
    <mat-label class="text-neutral-400">Név</mat-label>
    <input matInput formControlName="name" placeholder="Adja meg a nevét">
    <mat-icon matPrefix [ngClass]="isInvalid('name') ? 'icon-error' : 'icon-success'" class="mr-3">person</mat-icon>
    <mat-error *ngIf="contactForm.get('name')?.hasError('required')">A név megadása kötelező</mat-error>
    <mat-error *ngIf="contactForm.get('name')?.hasError('minlength')">Minimum 3 karakter szükséges</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full mb-4">
    <mat-label class="text-neutral-400">Email</mat-label>
    <input matInput type="email" formControlName="email" placeholder="pelda@email.hu">
    <mat-icon matPrefix [ngClass]="isInvalid('email') ? 'icon-error' : 'icon-success'" class="mr-3">email</mat-icon>
    <mat-error *ngIf="contactForm.get('email')?.invalid">Kérjük, érvényes email címet adjon meg</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full mb-6">
    <mat-label class="text-neutral-400">Üzenet</mat-label>
    <textarea matInput formControlName="message" rows="5" placeholder="Miben segíthetünk?"></textarea>
    <mat-icon matPrefix [ngClass]="isInvalid('message') ? 'icon-error' : 'icon-success'" class="mr-3">add_comment</mat-icon>
    <mat-error *ngIf="contactForm.get('message')?.invalid">Kérjük, írjon legalább 10 karaktert</mat-error>
  </mat-form-field>

  <div class="mb-8 flex flex-col">
    <mat-checkbox formControlName="terms" class="custom-checkbox">
      <span class="text-neutral-400 grotesk">Elfogadom az Általános Szerződési Feltételeket.</span>
    </mat-checkbox>
    <small class="text-[#ff5252] mt-2 grotesk" *ngIf="isInvalid('terms')">
      A feltételek elfogadása kötelező a küldéshez.
    </small>
  </div>

  <app-primary-button 
    type="submit" 
    [text]="'Üzenet küldése'" 
    [icon]="'send'" 
    [disabled]="contactForm.invalid || isLoading"
    [loading]="isLoading">
  </app-primary-button>
</form>