<div class="w-full form-wrapper py-12">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()"  class="w-full custom-material-form mx-auto px-4">
    
    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label class="grotesk font-medium text-neutral-50">Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter your name">
      <mat-icon matSuffix class="!text-[#76e594]">person</mat-icon>
      <mat-hint class="text-neutral-500">Full name preferred</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-4">
      <mat-label class="grotesk font-medium text-neutral-50">Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="your@email.com">
      <mat-icon matSuffix class="!text-[#76e594]">attach_email</mat-icon>
      <mat-hint class="text-neutral-500">We'll never share your email</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full mb-6">
      <mat-label class="grotesk font-medium text-neutral-50">Message</mat-label>
      <textarea matInput formControlName="message" rows="5" placeholder="How can we help?"></textarea>
      <mat-icon matSuffix class="!text-[#76e594]">add_comment</mat-icon>
    </mat-form-field>

    <div class="mb-8">
      <mat-checkbox formControlName="terms" class="custom-checkbox">
        <span class="text-neutral-400 grotesk">I accept the Terms & conditions.</span>
      </mat-checkbox>
    </div>

    <app-primary-button 
      type="submit" 
      [text]="'Submit Request'" 
      [icon]="'send'" 
      [disabled]="contactForm.invalid || isLoading"
      [loading]="isLoading">
    </app-primary-button>

  </form>
</div>