<header class="w-full text-white" style="margin-bottom: 4rem;">
  <div class="mx-auto relative">
    
    <div class="flex flex-col lg:flex-row lg:items-end justify-between gap-12 lg:gap-24">
      
      <div class="flex flex-col items-start w-full lg:w-1/2">
        <div class="mb-8">
          <span
            class="inline-flex items-center gap-3 px-2.5 py-1.5 rounded-md border border-[#76e594] text-[#76e594] text-xs font-bold tracking-wide"
            style="line-height: 1; background: rgba(118, 229, 148, 0.05);"
          >
            <span class="uppercase" style="display: flex; align-items: center;">
              Működés
            </span>

            <mat-icon
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                line-height: 1;
                height: 1rem;
                width: 1rem;
                color: #76e594;
              "
            >
              construction
            </mat-icon>
          </span>
        </div>
        
        <h2 class="text-4xl md:text-6xl font-bold tracking-tight text-neutral-100 max-w-md leading-tight grotesk">
          Védelem minden <span style="color: #76e594;">rétegben</span>
        </h2>
      </div>

      <div class="w-full lg:max-w-md">
        <p class="text-neutral-400 text-base md:text-xl leading-relaxed grotesk" style="border-left: 2px solid rgba(118, 229, 148, 0.9); padding-left: 1.5rem;">
          A tervezéstől a gyártásig, a hardvertől a szoftverig a rendszer minden eleme maximális biztonságban marad. Precizitás és megbízhatóság minden fázisban.
        </p>
      </div>

    </div>
  </div>
</header>