<header class="w-full text-white">
  <div class="mx-auto ">
    
    <div class="flex flex-col lg:flex-row lg:items-end justify-between gap-12 lg:gap-24">
      
      <div class="flex flex-col items-start w-full lg:w-1/2">
        <div class="mb-8">
          <span class="px-4 py-1.5 rounded-md grotesk border border-[#53db78] text-[#53db78] text-sm font-bold tracking-wide">
            Features
          </span>
        </div>
        
        <h2 class="text-4xl md:text-6xl font-bold tracking-tight text-neutral-300 max-w-md leading-tight grotesk">
          Build to protect every layer
        </h2>
      </div>

      <div class="w-full lg:max-w-md">
        <p class="text-neutral-400 text-base md:text-xl leading-relaxed grotesk">
          From backend to browser, every part of your stack stays locked down.
          From backend to browser, every part of your stack stays locked down.
        </p>
      </div>

    </div>
  </div>
</header>