<button
  mat-button
  [type]="type"
  [disabled]="disabled || loading"
  class="zane-button"
>
  <div class="btn-content">
    <span class="font-bold text-xs uppercase">
      {{ loading ? 'Sending...' : text }}
    </span>

    <div class="flex items-center justify-center w-5 h-5">
      @if (loading) {
        <mat-spinner 
          diameter="20" 
          strokeWidth="2" 
          style="--mdc-circular-progress-active-indicator-color: #76e594;">
        </mat-spinner>
      } @else {
        <mat-icon class="!text-[20px] !w-5 !h-5 !leading-none text-[#76e594]">
          {{ icon }}
        </mat-icon>
      }
    </div>
  </div>
</button>