<button
  style="background-color: rgba(83, 219, 120, 0.2) !important; border-color: #53db78 !important;"
  class="

    inline-flex items-center justify-center gap-2 
    px-5 py-2.5 text-neutral-200 text-sm font-
     rounded-md 
    transition-all duration-300 ease-in-out grotesk 
    
    /* Tailwind effects that work with inline styles */
    border backdrop-blur-sm 
    

    hover:border-[] hover:bg-[#53db78]/40 
    hover:shadow-[0_0_15px_rgba(83,219,120,0.3)] 

  "
>
  <span class="grotesk" style="background-color: transparent !important; color: inherit;  ">
    Request quote
  </span>

  <mat-icon 
    style="
         background-color: transparent !important; 
      display: flex !important; 
      align-items: center; 
      justify-content: center; 
      width: 20px; 
      height: 20px; 
      font-size: 20px; 
      color: #53db78;
    "
  >
    request_quote
  </mat-icon>
</button>