<section class="w-full bg-[#000d01] ">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 w-full  mx-auto">
    
    <div class="w-full rounded-lg border border-white/10 bg-[#000d01] p-10 space-y-8 overflow-hidden group">
      <div class="relative flex items-center justify-center py-10">
        <div class="absolute inset-0 bg-[#53db78]/5 blur-3xl rounded-full bg-[#53db78]/10 transition-colors duration-500"></div>
        <img src="images/feat-img1.svg" alt="Threat detection" class="relative z-10 w-full max-w-[220px] h-auto transform  transition-transform duration-500 bg-transparent" />
      </div>
      <div class="space-y-4">
        <p class="text-[#76e594] font-medium text-base tracking-wide grotesk">Instant visibility. Instant action.</p>
        <h3 class="text-neutral-200 text-2xl font-bold tracking-tight grotesk leading-tight">Real-time threat detection</h3>
        <p class="text-neutral-400 text-md leading-24 ">Suspicious behavior gets flagged the second it appears. No lag. No noise.</p>
      </div>
    </div>

    <div class="w-full rounded-lg border border-white/10 bg-[#000d01] p-10 space-y-8 overflow-hidden group">
      <div class="relative flex items-center justify-center py-10">
        <div class="absolute inset-0 bg-[#53db78]/5 blur-3xl rounded-full bg-[#53db78]/10 transition-colors duration-500"></div>
        <img src="images/feat-img2.svg" alt="Hardware integration" class="relative z-10 w-full max-w-[220px] h-auto transform  transition-transform duration-500 bg-transparent" />
      </div>
      <div class="space-y-4">
        <p class="text-[#76e594] font-medium text-base tracking-wide grotesk">Seamless Sync. Total Control.</p>
        <h3 class="text-neutral-200 text-2xl font-bold tracking-tight grotesk leading-tight">Advanced PCB Integration</h3>
        <p class="text-neutral-400 text-md leading-24 ">Direct hardware-to-cloud communication optimized for Zane microcontrollers.</p>
      </div>
    </div>

    <div class="w-full rounded-lg border border-white/10 bg-[#000d01] p-10 space-y-8 overflow-hidden group">
      <div class="relative flex items-center justify-center py-10">
        <div class="absolute inset-0 bg-[#53db78]/5 blur-3xl rounded-full bg-[#53db78]/10 transition-colors duration-500"></div>
        <img src="images/feat-img3.svg" alt="Cloud security" class="relative z-10 w-full max-w-[220px] h-auto transform  transition-transform duration-500 bg-transparent" />
      </div>
      <div class="space-y-4">
        <p class="text-[#76e594] font-medium text-base tracking-wide grotesk">Encrypted. Distributed. Safe.</p>
        <h3 class="text-neutral-200 text-2xl font-bold tracking-tight grotesk leading-tight">Cloud Native Security</h3>
        <p class="text-neutral-400 text-md leading-24 ">Scale your infrastructure with peace of mind using our proprietary encryption.</p>
      </div>
    </div>

  </div>
</section>