<main class="min-h-screen w-full px-6 lg:px-[15%] flex items-center justify-center overflow-hidden relative bg-[#000d01] z-0">
  
  <img
    src="images/blog/bg-pattern-hero.svg"
    alt="Background Pattern"
    class="absolute inset-0 w-full h-full object-cover  pointer-events-none z-[-1]"
  />

  <img
    src="shades/shade-green2.png"
    alt="Green shade"
    class="absolute right-0 top-1/2 -translate-y-1/2 z-[1] w-full max-w-[700px] h-auto object-cover opacity-40 pointer-events-none"
  />

  <section class="flex flex-col lg:flex-row items-center  justify-between w-full relative z-[10]">
    
    <div class="flex flex-col items-start text-left space-y-6 w-full md:-ms-[8.7rem] lg:w-1/2 z-[20]">
      <app-badge></app-badge>

      <div class="space-y-4">
        <h1 class="text-neutral-300 text-3xl lg:text-6xl font-bold tracking-tight grotesk leading-[1.1]">
          PROFESSZIONÁLIS SMT beültetés és <br class="hidden lg:block"> elektronikai tervezés 2012 óta
        </h1>
        <p class="text-neutral-400 text-base md:text-lg max-w-xl">
          Tudjuk, hogy a nyomtatott áramkör tervezési feladatához a legjobb szakértőkre van szüksége. Nálunk jó helyen jár! Mérnökeink szaktudása a garancia a minőségre.
        </p>
      </div>

      <div class="flex flex-wrap items-center gap-4 pt-4">
        <app-primary-button></app-primary-button>
        <app-secondary-button></app-secondary-button>
      </div>
    </div>

    <div class="w-full lg:w-1/2 flex justify-center lg:justify-end relative mt-12 lg:mt-0 z-[20]">
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full max-w-[400px] max-h-[400px] blur-[120px] bg-[#76e594]/10 rounded-full z-0"></div>

      <img
        src="images/hero-photo.png"
        alt="Hand holding microcontroller"
        class="relative z-10 w-full max-w-[550px] rounded-xl h-auto object-cover animate-in fade-in zoom-in duration-1000"
      />
    </div>

  </section>
</main>