
<div 
  style="border-color: #76e594 !important; background-color: rgba(255, 255, 255, 0.03) !important;"
  class="
 
    inline-flex items-center gap-3 
    pl-2 pr-6 py-1.5 
    rounded-md border backdrop-blur-md
    

    animate-in fade-in slide-in-from-top-4 duration-700
  "
>
  <div 
    style="background-color: #76e594 !important;"
    class="flex items-center justify-center w-5 h-5 rounded-full shadow-[0_0_10px_rgba(118,229,148,0.4)]"
  >
    <mat-icon 
      style=" background: none; color:black; font-size: 14px; width: 14px; height: 14px;"
      class="flex items-center justify-center font-bold"
    >
      check
    </mat-icon>
  </div>

  <span 
    class=" text-neutral-300  text-xs uppercase  font-bold tracking-tight opacity-90"
  >
    Trusted by over 1,000 businesses worldwide
  </span>
</div>