<main class="">
  <div class="w-full">
    <app-hero></app-hero>
    <div class="lg:px-20 px-10 pt-20">
      <app-features-top></app-features-top>
    </div>
    <div class="lg:px-20 px-10 py-24">
      <app-features></app-features>
    </div>
    <div class="lg:px-20 px-10 py-20">
      <app-capabilities-top></app-capabilities-top>
    </div>

    <div class="lg:px-20 px-10 mb-10">
      <app-capabilities></app-capabilities>
    </div>
    <div class="px-10 mb-24">
      <app-contact-section></app-contact-section>
    </div>
    <div class="px-20 ">
      <app-blog></app-blog>
    </div>
    <div class="">
  
    </div>
  </div>
</main>
