<main class="min-h-screen w-full flex flex-col items-center justify-center px-4 md:px-12 2xl:px-24">
  
  <section class="flex flex-col items-center gap-8 w-full max-w-4xl">
    
    <div class="text-center space-y-2">
      <app-badge ></app-badge> 
      <h1 class="text-white text-3xl font-bold tracking-tight">Zane Systems</h1>
      <p class="text-neutral-400">Innovative solutions for modern problems.</p>
    </div>

    <div class="flex flex-wrap items-center justify-center gap-4">
      <app-primary-button></app-primary-button>
      <app-secondary-button></app-secondary-button>
    </div>

  </section>

  </main>