<section class="py-16  bg-transparent relative overflow-visible">
  <div class="mx-auto flex flex-col lg:flex-row items-center gap-12 lg:gap-20">
    
    <div class="w-full relative isolate group">
        <app-bg-shades> </app-bg-shades>
      <div class="absolute -inset-2  rounded-lg translate-x-4 translate-y-4 -z-10 group-hover:translate-x-2 group-hover:translate-y-2 transition-all duration-500"></div>
      
      <div class="relative rounded-lg overflow-hidden shadow-2xl">
        <img 
          src="images/blog/kikvagyunk.png" 
          alt="ZANE Systems Headquarters" 
          class="w-full max-w-[40rem] h-auto object-cover grayscale-[20%]  "
        />
        <div class="absolute inset-0 bg-gradient-to-t from-[#000d01]/40 to-transparent"></div>
      </div>
    </div>

    <div class="w-full space-y-6  ">
        
      <h2 class="text-[#76e594] text-4xl md:text-5xl font-bold   tracking-tight uppercase grotesk">
        ZANE systems Kft.
      </h2>
      
      <div class="space-y-4 text-neutral-400 text-lg leading-relaxed">
        <p>
          A <span class="text-white font-medium">ZANE systems Kft.</span>-t 2012-ben alapította 
          <a href="https://www.linkedin.com/in/zoltan-erdei-zanesystems/" target="_blank" class="text-[#76e594] cursor-pointer underline">Erdei Zoltán</a> villamosmérnök. A céget a külföldi és hazai 
          áramkörtervezési igények kielégítésére hoztuk létre.
        </p>
        
        <p>
          Ennek megfelelően a vállalat fő tevékenysége a kezdetektől fogva az 
          <span class="text-neutral-200">elektronikai áramkörök tervezése és fejlesztése</span>. 
          A cég alapításakor kiemelt szerepet játszott egy világszínvonalú elektronikai termékek 
          tervezésére alkalmas mérnöki iroda létrehozása. 
        </p>

        <p>
          Küldetésünk annak bizonyítása, hogy a <span class="text-white">magyar elektronikai szakemberek</span> 
          nemcsak az elektronikai bérgyártásban, hanem a tervezésben is megállják a helyüket a világpiacon.
        </p>
      </div>

      <div class="pt-6 flex items-center gap-4">
        <div class="h-[1px] w-20 bg-[#76e594]/90"></div>
        <span class="text-xs uppercase tracking-[0.3em] text-[#76e594]/90">Hajdúsámson, Heveder utca 19, Hungary</span>
      </div>
    </div>

  </div>
</section>