<section
  id="zane-house-section"
  class="py-16 bg-transparent lg:px-0 px-6 relative overflow-visible"
>
  <div class="mx-auto flex flex-col lg:flex-row items-center gap-12 lg:gap-20">
    <div class="w-full relative isolate group">
      <app-bg-shades></app-bg-shades>
      <div
        class="absolute -inset-2 rounded-lg translate-x-4 translate-y-4 -z-10 group-hover:translate-x-2 group-hover:translate-y-2 transition-all duration-500"
      ></div>

      <div class="relative rounded-lg overflow-hidden shadow-2xl">
        <img
          src="images/blog/kikvagyunk.png"
          alt="ZANE Systems Headquarters"
          class="w-full max-w-[40rem] h-auto object-cover grayscale-[20%]"
        />
        <div
          class="absolute inset-0 bg-gradient-to-t from-[#000d01]/40 to-transparent"
        ></div>
      </div>
    </div>

    <div class="w-full space-y-6">
      <h2
        class="text-[#76e594] text-4xl md:text-5xl font-bold tracking-tight uppercase grotesk"
      >
        {{ "ABOUT_ZANE_HOUSE.TITLE" | translate }}
      </h2>

      <div class="space-y-4 text-neutral-400 text-lg leading-relaxed">
        <p>
          <span class="text-white font-medium">ZANE systems Kft.</span
          >{{ "ABOUT_ZANE_HOUSE.PARAGRAPH_1.PART1" | translate }}
          <a
            href="https://www.linkedin.com/in/zoltan-erdei-zanesystems/"
            target="_blank"
            class="text-[#76e594] cursor-pointer underline"
          >
            {{ "ABOUT_ZANE_HOUSE.PARAGRAPH_1.NAME" | translate }}
          </a>
          {{ "ABOUT_ZANE_HOUSE.PARAGRAPH_1.PART2" | translate }}
        </p>

        <p>
          {{ "ABOUT_ZANE_HOUSE.PARAGRAPH_2" | translate }}
        </p>

        <p>
          {{ "ABOUT_ZANE_HOUSE.PARAGRAPH_3.PART1" | translate }}
          <span class="text-white">{{
            "ABOUT_ZANE_HOUSE.PARAGRAPH_3.HIGHLIGHT" | translate
          }}</span>
          {{ "ABOUT_ZANE_HOUSE.PARAGRAPH_3.PART2" | translate }}
        </p>
      </div>

      <div class="pt-6 flex items-center gap-4">
        <div class="h-[1px] w-20 bg-[#76e594]/90"></div>
        <span class="text-xs uppercase tracking-[0.3em] text-[#76e594]/90">
          {{ "ABOUT_ZANE_HOUSE.LOCATION" | translate }}
        </span>
      </div>
    </div>
  </div>
</section>
