@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

// 1. Define the Custom Dark Theme material 3!!!
$my-app-theme: mat.define-theme((
  color: (
    theme-type: dark, // Changed to dark
    primary: mat.$green-palette, // Use green as base

  ),
  typography: (
    brand-family: 'Space Grotesk',
    plain-family: 'Nunito',
  ),
  density: (
    scale: 0,
  )
));

// 2. Apply the theme
@include mat.core();

:root {
  @include mat.all-component-themes($my-app-theme);
  
  /* Manual Overrides for your specific Green (#76e594) */
  --mat-sys-primary: #76e594;
  --mat-sys-on-primary: #00391b;
  --mat-sys-outline: rgba(118, 229, 148, 0.3);
  --mat-sys-surface: #000d01;
  --mat-sys-surface-container-low: #020f03;
}

// 3. Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #000d01;
  color: white;
}

.grotesk {
  font-family: "Space Grotesk", sans-serif !important;
}

/* Fix Expansion Panels padding */
::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

/* Ensure Form Fields follow the theme */
::ng-deep .mat-mdc-form-field {
  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-outlined-text-field-outline-color: rgba(118, 229, 148, 0.2);
  --mdc-outlined-text-field-focus-outline-color: #76e594;
  --mdc-outlined-text-field-label-text-color: rgba(255, 255, 255, 0.7);
  --mdc-outlined-text-field-focus-label-text-color: #76e594;
}









.custom-blur-backdrop {
  background: rgba(0, 13, 1, 0.6) !important; /* A sötét zöld háttér színe, 60% átlátszósággal */
  backdrop-filter: blur(8px) !important; /* Itt állíthatod a homályosítás mértékét */
  -webkit-backdrop-filter: blur(8px) !important; /* Safari támogatás */
}

/* Opcionális: A Bottom Sheet konténer finomhangolása */
.dark-bottom-sheet {
  background: #000d01 !important;
  border-top: 2px solid #76e594 !important;
  border-radius: 20px 20px 0 0 !important;
}


